/* General Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center; /* Center the cards horizontally */
  }
  
  .movie-name{
    font-size: larger;
    font-weight: 600;
  }
  .buttonsection{
    position: relative;
    left: -15px;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
      "votesection imageSection moviedetails"
      "votesection imageSection footer";
    background-color: #d4eeed;
    border-radius: 25px;
    border: 5px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
     &:hover{
          background-color: rgb(247, 143, 143);
          border-radius: 5px;
     }
  }
  
  /* Voting Section */
  .votesection {
    grid-area: votesection;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 5px;
  }
  
  .vote {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  /* Image Section */
  .imageSection {
    grid-area: imageSection;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .imageSection img {
   width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  /* Movie Details Section */
  .moviedetails {
    grid-area: moviedetails;
    padding: 10px;
  }
  
  .movie-name {
    margin-top: 0;
  }
  
  /* Button */
  .btn {
    grid-area: footer;
    background-color: rgb(12, 2, 4);
    color: rgb(241, 233, 233);
    border: 2px solid whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    width: 100%;
    justify-self: center; /* Center the button horizontally */
  }
  
  .btn:hover {
    background-color: #e5e8ec;
    border: 2px solid rgb(9, 1, 1);
    color: #000307;
  }
  
  /* Responsive Styles */
  @media (max-width: 767px) {
    .card {
      grid-template-columns: 1fr;
      grid-template-areas:
        "imageSection"
        "moviedetails"
        "votesection"
        "footer";
    }
  
    .votesection {
      flex-direction: row;
      justify-content: center;
    }
  
    .btn {
      justify-self: stretch; /* Stretch the button to full width on smaller screens */
      width: 50%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .card {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "votesection imageSection"
        "moviedetails moviedetails"
        "footer footer";
    }
  }